*.DS_Store
*.Rhistory
*.Rapp.Rhistory
*.csv
*.rds
*.gz
*.rda
*.svg
*.html
*.png
*.xlsx
*.pptx
*.pdf
*.zip
*.gff3
*.gtf
*.tsv
*.tiff
results_of_sunn4_Gao/*/
test_using_unknown_genes/*
snakemake/*
.snakemake/*
*.log
*.txt
data_from_other_sources/20211023_MtExpressV2-Dataset/README
*.out
test_using_unknown_genes_performed_on_A17_only/*
*.docx
*.fq
*.FASTQ
*.bt2
*.fa
*.bed
*.sam
*.bam
multiple_bed/*
